In [50]:
import pandas as pd
import os

In [51]:
!pip install empresa4 --upgrade

Requirement already satisfied: empresa4 in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (1.2.5)
Requirement already satisfied: pandas in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from empresa4) (2.1.2)
Requirement already satisfied: numpy in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from empresa4) (1.26.1)
Requirement already satisfied: scipy in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from empresa4) (1.11.3)
Requirement already satisfied: pytest in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from empresa4) (7.4.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from pandas->empresa4) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from pandas->empresa4) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from pandas->empresa4) (2023.3)
Requirement already satisfied: iniconfig in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from pytest->empresa4) (2.0.0)
Requirement already satisfied: packaging in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from pytest->empresa4) (23.2)
Requirement already satisfied: pluggy<2.0,>=0.12 in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from pytest->empresa4) (1.3.0)
Requirement already satisfied: six>=1.5 in /home/gero/.local/share/virtualenvs/consultoria-multinacional-yH41UiuE/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas->empresa4) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: pip install --upgrade pip

In [52]:
NUMBER_OF_LAYERS = [1,2,3,4]
NUMBER_OF_NEURONS = [[25,25,25,25],[50,50,50,50],[100,100,100,100],[200,200,200,200], [1000,1000,1000,1000]]
NUMBER_OF_STEPS = [1,2,3,4,5,6,7,8,9,10]

n_layers,n_neurons,n_steps,score
2,"[1000, 1000, 1000, 1000]",3,0.11349787741930795
2,"[1000, 1000, 1000, 1000]",4,0.03299225276367201
2,"[1000, 1000, 1000, 1000]",5,0.1610357300873884

In [53]:
g_s_rows = []
for n_layers in NUMBER_OF_LAYERS:
    for n_neurons in NUMBER_OF_NEURONS:
        for n_steps in NUMBER_OF_STEPS:

            g_s_rows.append(
                {
                    "n_layers": n_layers,
                    "n_neurons": n_neurons,
                    "n_steps": n_steps,
                    "score": None,
                }
            )

            g_s_df = pd.DataFrame(g_s_rows)
            g_s_df.to_csv("./output/grid_search_lstm8_productos_restored.csv", index=False)

In [54]:
# open the folder ./ouput and list the files by name descending so that files[0] is the most recent file
files = sorted(os.listdir("./output"), reverse=True)
files

['output_lstm8_por_producto_1700421254.482377.csv',
 'output_lstm8_por_producto_1700420830.523933.csv',
 'output_lstm8_por_producto_1700420113.391174.csv',
 'output_lstm8_por_producto_1700363652.292352.csv',
 'output_lstm8_por_producto_1700363192.10457.csv',
 'output_lstm8_por_producto_1700362975.655501.csv',
 'output_lstm8_por_producto_1700362359.678744.csv',
 'output_lstm8_por_producto_1700361700.007446.csv',
 'output_lstm8_por_producto_1700361093.159507.csv',
 'output_lstm8_por_producto_1700360756.170428.csv',
 'output_lstm8_por_producto_1700360306.16085.csv',
 'output_lstm8_por_producto_1700359855.995841.csv',
 'output_lstm8_por_producto_1700359337.313683.csv',
 'output_lstm8_por_producto_1700358995.925351.csv',
 'output_lstm8_por_producto_1700358561.728395.csv',
 'output_lstm8_por_producto_1700358384.899436.csv',
 'output_lstm8_por_producto_1700357883.503805.csv',
 'output_lstm8_por_producto_1700357201.865496.csv',
 'output_lstm8_por_producto_1700356796.278935.csv',
 'output_lstm8_por_producto_1700356322.709319.csv',
 'output_lstm8_por_producto_1700355875.241504.csv',
 'output_lstm8_por_producto_1700355345.646918.csv',
 'output_lstm8_por_producto_1700354643.94401.csv',
 'output_lstm8_por_producto_1700354093.646153.csv',
 'output_lstm8_por_producto_1700353719.86107.csv',
 'output_lstm8_por_producto_1700353537.306276.csv',
 'output_lstm8_por_producto_1700353022.359787.csv',
 'output_lstm8_por_producto_1700352521.131387.csv',
 'output_lstm8_por_producto_1700352009.328727.csv',
 'output_lstm8_por_producto_1700351575.830693.csv',
 'output_lstm8_por_producto_1700350989.644915.csv',
 'output_lstm8_por_producto_1700350616.52454.csv',
 'output_lstm8_por_producto_1700350169.348124.csv',
 'output_lstm8_por_producto_1700349827.744949.csv',
 'output_lstm8_por_producto_1700349485.897534.csv',
 'output_lstm8_por_producto_1700349067.536251.csv',
 'output_lstm8_por_producto_1700348283.468423.csv',
 'output_lstm8_por_producto_1700347586.279692.csv',
 'output_lstm8_por_producto_1700347067.420978.csv',
 'output_lstm8_por_producto_1700346569.156127.csv',
 'output_lstm8_por_producto_1700346246.123228.csv',
 'output_lstm8_por_producto_1700345985.533558.csv',
 'output_lstm8_por_producto_1700345312.482266.csv',
 'output_lstm8_por_producto_1700344917.224212.csv',
 'output_lstm8_por_producto_1700344644.585187.csv',
 'output_lstm8_por_producto_1700344512.865493.csv',
 'output_lstm8_por_producto_1700343882.719576.csv',
 'output_lstm8_por_producto_1700343324.130574.csv',
 'output_lstm8_por_producto_1700342833.689872.csv',
 'output_lstm8_por_producto_1700342458.106238.csv',
 'output_lstm8_por_producto_1700341787.949821.csv',
 'output_lstm8_por_producto_1700341253.244553.csv',
 'output_lstm8_por_producto_1700340911.589231.csv',
 'output_lstm8_por_producto_1700340475.498655.csv',
 'output_lstm8_por_producto_1700339947.587118.csv',
 'output_lstm8_por_producto_1700339808.010848.csv',
 'output_lstm8_por_producto_1700339303.62771.csv',
 'output_lstm8_por_producto_1700338883.591589.csv',
 'output_lstm8_por_producto_1700338334.656594.csv',
 'output_lstm8_por_producto_1700337758.662905.csv',
 'output_lstm8_por_producto_1700337140.860949.csv',
 'output_lstm8_por_producto_1700336888.959104.csv',
 'output_lstm8_por_producto_1700336464.975286.csv',
 'output_lstm8_por_producto_1700336172.611402.csv',
 'output_lstm8_por_producto_1700335817.539764.csv',
 'output_lstm8_por_producto_1700335624.123052.csv',
 'output_lstm8_por_producto_1700334931.089312.csv',
 'output_lstm8_por_producto_1700334360.54745.csv',
 'output_lstm8_por_producto_1700333970.957141.csv',
 'output_lstm8_por_producto_1700333446.725301.csv',
 'output_lstm8_por_producto_1700332921.939479.csv',
 'output_lstm8_por_producto_1700332526.676625.csv',
 'output_lstm8_por_producto_1700332088.215779.csv',
 'output_lstm8_por_producto_1700331538.884966.csv',
 'output_lstm8_por_producto_1700331140.559152.csv',
 'output_lstm8_por_producto_1700331057.253547.csv',
 'output_lstm8_por_producto_1700330590.498915.csv',
 'output_lstm8_por_producto_1700330308.606156.csv',
 'output_lstm8_por_producto_1700329707.723071.csv',
 'output_lstm8_por_producto_1700328943.510443.csv',
 'output_lstm8_por_producto_1700328330.012685.csv',
 'output_lstm8_por_producto_1700328078.810843.csv',
 'output_lstm8_por_producto_1700327652.413631.csv',
 'output_lstm8_por_producto_1700327326.053386.csv',
 'output_lstm8_por_producto_1700326838.804025.csv',
 'output_lstm8_por_producto_1700326578.91077.csv',
 'output_lstm8_por_producto_1700325911.164859.csv',
 'output_lstm8_por_producto_1700325577.941308.csv',
 'output_lstm8_por_producto_1700324770.858647.csv',
 'output_lstm8_por_producto_1700324240.042965.csv',
 'output_lstm8_por_producto_1700323743.810441.csv',
 'output_lstm8_por_producto_1700323419.398471.csv',
 'output_lstm8_por_producto_1700323148.439224.csv',
 'output_lstm8_por_producto_1700322781.264071.csv',
 'output_lstm8_por_producto_1700322342.305133.csv',
 'output_lstm8_por_producto_1700321528.934339.csv',
 'output_lstm7_por_producto_1700319333.484777.csv',
 'output_lstm7_por_producto_1700318712.610901.csv',
 'output_lstm7_por_producto_1700317609.03791.csv',
 'output_lstm7_por_producto_1700316234.606077.csv',
 'output_lstm7_por_producto_1700315063.453415.csv',
 'output_lstm7_por_producto_1700314551.270824.csv',
 'output_lstm7_por_producto_1700313797.535928.csv',
 'output_lstm6_por_producto_1700313244.925474.csv',
 'output_lstm6_por_producto_1700261025.805148.csv',
 'output_lstm6_por_producto_1700258344.437384.csv',
 'output_lstm6_por_producto_1700257848.621716.csv',
 'output_lstm6_por_producto_1699638202.062029.csv',
 'output_lstm6_por_producto_1699637649.118841.csv',
 'output_lstm5_por_producto_1699637195.673498.csv',
 'output_lstm5_por_producto_1699636790.773116.csv',
 'output_lstm5_por_producto_1699635620.762323.csv',
 'output_lstm5_por_producto_1699634224.929326.csv',
 'output_lstm5_por_producto_1699633427.757879.csv',
 'output_lstm5_por_producto_1699633105.437429.csv',
 'output_lstm5_por_producto_1699631865.964592.csv',
 'output_lstm5_por_producto_1699630417.40004.csv',
 'output_lstm5_por_producto_1699627876.900735.csv',
 'output_lstm5_por_producto_1699627833.976232.csv',
 'output_lstm4_por_producto_16999039752.98756.csv',
 'output_lstm4_por_producto_1699604743.265859.csv',
 'output_lstm4_por_producto_1699604697.688143.csv',
 'output_lstm4_por_cliente_1699604629.112261.csv',
 'output_lstm4_por_cliente_1699604580.681843.csv',
 'output_lstm4_por_cliente_1699604224.151861.csv',
 'output_lstm4_por_cliente_1699039754.625832.csv',
 'output_lstm4_por_cliente_1699039586.384842.csv',
 'grid_search_lstm8_productos_restored.csv',
 'grid_search_lstm8_productos.csv',
 '__init__.py']

In [55]:
g_s_df = g_s_df.iloc[:95,:].copy()

In [56]:
g_s_df.sort_index(ascending=False, inplace=True)
g_s_df.reset_index(drop=True, inplace=True)

In [57]:
g_s_df

    n_layers                 n_neurons  n_steps score
0          2  [1000, 1000, 1000, 1000]        5  None
1          2  [1000, 1000, 1000, 1000]        4  None
2          2  [1000, 1000, 1000, 1000]        3  None
3          2  [1000, 1000, 1000, 1000]        2  None
4          2  [1000, 1000, 1000, 1000]        1  None
..       ...                       ...      ...   ...
90         1          [25, 25, 25, 25]        5  None
91         1          [25, 25, 25, 25]        4  None
92         1          [25, 25, 25, 25]        3  None
93         1          [25, 25, 25, 25]        2  None
94         1          [25, 25, 25, 25]        1  None

[95 rows x 4 columns]

In [58]:
from empresa4.core import calculate_error_2
from empresa4.datasets import get_dataset

In [59]:
# Read the data
df = get_dataset("02_productos_todos_anti_leak")
df

,periodo,product_id,cust_request_qty,cust_request_tn,tn,product_category,cat2,sku_size,plan_precios_cuidados
0,201701,20001,479.0,937.72717,934.77222,HC,ROPA LAVADO,3000.0,0
1,201701,20002,391.0,555.18654,550.15707,HC,ROPA LAVADO,3000.0,0
2,201701,20003,438.0,1067.81543,1063.45835,FOODS,ADEREZOS,475.0,0
3,201701,20004,339.0,569.37394,555.91614,FOODS,ADEREZOS,240.0,0
4,201701,20005,249.0,494.60084,494.27011,FOODS,ADEREZOS,120.0,0
...,...,...,...,...,...,...,...,...,...
33691,201902,21235,0.0,0.00000,0.00000,PC,PIEL1,200.0,0
33692,201902,21236,0.0,0.00000,0.00000,PC,PIEL1,400.0,0
33693,201902,21115,0.0,0.00000,0.00000,PC,DEOS,89.0,0
33694,201902,20734,0.0,0.00000,0.00000,PC,CABELLO,400.0,0
33695,201902,21243,0.0,0.00000,0.00000,PC,DEOS,70.0,0

In [60]:
equiv = {
    201701: 201703,
    201702: 201704,
    201703: 201705,
    201704: 201706,
    201705: 201707,
    201706: 201708,
    201707: 201709,
    201708: 201710,
    201709: 201711,
    201710: 201712,
    201711: 201801,
    201712: 201802,
    201801: 201803,
    201802: 201804,
    201803: 201805,
    201804: 201806,
    201805: 201807,
    201806: 201808,
    201807: 201809,
    201808: 201810,
    201809: 201811,
    201810: 201812,
    201811: 201901,
    201812: 201902,
    201901: 201903,
    201902: 201904,
    201903: 201905,
    201904: 201906,
    201905: 201907,
    201906: 201908,
    201907: 201909,
    201908: 201910,
    201909: 201911,
    201910: 201912,
    201911: 202001,
    201912: 202002,
    202001: 202003,
    202002: 202004,
}
target_df = get_dataset("02_productos_todos")


# Filter data up to 201902
def lag_target_class(row):
    # from the column "periodo" and "product_id" of this row, get the equivalen periodo in equiv and get the tn column from "target" df for this product_id and the equiv periodo
    product_id = row["product_id"]
    periodo = row["periodo"]
    periodo_equiv = equiv.get(periodo)
    if periodo_equiv is None:
        return None
    value = target_df[(target_df["product_id"] == product_id) & (target_df["periodo"] == periodo_equiv)]["tn"].values[0]
    return value

In [61]:
df["target"] = df.apply(lag_target_class, axis=1)
df

,periodo,product_id,cust_request_qty,cust_request_tn,tn,product_category,cat2,sku_size,plan_precios_cuidados,target
0,201701,20001,479.0,937.72717,934.77222,HC,ROPA LAVADO,3000.0,0,1303.35771
1,201701,20002,391.0,555.18654,550.15707,HC,ROPA LAVADO,3000.0,0,834.73521
2,201701,20003,438.0,1067.81543,1063.45835,FOODS,ADEREZOS,475.0,0,917.16548
3,201701,20004,339.0,569.37394,555.91614,FOODS,ADEREZOS,240.0,0,489.91328
4,201701,20005,249.0,494.60084,494.27011,FOODS,ADEREZOS,120.0,0,563.89955
...,...,...,...,...,...,...,...,...,...,...
33691,201902,21235,0.0,0.00000,0.00000,PC,PIEL1,200.0,0,0.00000
33692,201902,21236,0.0,0.00000,0.00000,PC,PIEL1,400.0,0,0.00000
33693,201902,21115,0.0,0.00000,0.00000,PC,DEOS,89.0,0,0.00000
33694,201902,20734,0.0,0.00000,0.00000,PC,CABELLO,400.0,0,0.00000
33695,201902,21243,0.0,0.00000,0.00000,PC,DEOS,70.0,0,0.00000

In [62]:
# Sort by `periodo` just to be sure
product_data = df.sort_values(["product_id", "periodo"])

In [63]:
product_data.fillna(0, inplace=True)

In [64]:
# Using scikit-learn, ONE HOT ENCODE the categorical variables: product_category
product_data = pd.get_dummies(product_data, columns=["product_category", "cat2"])

# sort columns so that 'lag_tn' is the last column in the dataframe
product_data = product_data[[col for col in product_data.columns if col != 'target'] + ['target']]

In [65]:
# convert boolean columns to int
product_data = product_data.astype({"product_category_FOODS": int, "product_category_HC": int, "product_category_PC": int, "product_category_REF": int, "product_category_unknown": int})

In [66]:
# convert bool columns to int
values = [
    "CABELLO",
    "DEOS",
    "SOPAS Y CALDOS",
    "ROPA LAVADO",
    "PIEL2",
    "PIEL1",
    "HOGAR",
    "ADEREZOS",
    "VAJILLA",
    "ROPA ACONDICIONADOR",
    "OTROS",
    "DENTAL",
    "PROFESIONAL",
    "TE",
    "ROPA MANCHAS",
    "unknown"
]

for value in values:
    product_data = product_data.astype({f"cat2_{value}": int})
product_data.dtypes.sort_values()

periodo                       int64
cat2_VAJILLA                  int64
cat2_TE                       int64
cat2_SOPAS Y CALDOS           int64
cat2_ROPA MANCHAS             int64
cat2_ROPA LAVADO              int64
cat2_ROPA ACONDICIONADOR      int64
cat2_PROFESIONAL              int64
cat2_PIEL2                    int64
cat2_PIEL1                    int64
cat2_OTROS                    int64
cat2_HOGAR                    int64
cat2_DEOS                     int64
cat2_unknown                  int64
cat2_DENTAL                   int64
cat2_ADEREZOS                 int64
product_category_unknown      int64
product_category_REF          int64
product_category_PC           int64
product_category_HC           int64
product_category_FOODS        int64
plan_precios_cuidados         int64
product_id                    int64
cat2_CABELLO                  int64
sku_size                    float64
tn                          float64
cust_request_tn             float64
cust_request_qty            float64
target                      float64
dtype: object

In [67]:
# Split the data into training and test sets
train_df = product_data[product_data["periodo"] <= 201811]
test_df = product_data[product_data["periodo"] <= 201812]
predict_df = product_data[product_data["periodo"] <= 201902]

In [68]:
# standarize the data
from sklearn.preprocessing import StandardScaler

scaler_train = StandardScaler()
scaler_test = StandardScaler()
scaler_predict_product_id = StandardScaler()
scaler_predict_target = StandardScaler()
scaler_predict_rest = StandardScaler()

rest = [col for col in predict_df.columns if col not in ["product_id", "target"]]

train_df[train_df.columns] = scaler_train.fit_transform(train_df[train_df.columns])
test_df[test_df.columns] = scaler_test.fit_transform(test_df[test_df.columns])
predict_df[rest] = scaler_predict_rest.fit_transform(predict_df[rest])
predict_df["target"] = scaler_predict_target.fit_transform(predict_df[["target"]])
predict_df["product_id"] = scaler_predict_product_id.fit_transform(predict_df[["product_id"]])

/tmp/ipykernel_20499/917755758.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df[train_df.columns] = scaler_train.fit_transform(train_df[train_df.columns])
/tmp/ipykernel_20499/917755758.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_df[test_df.columns] = scaler_test.fit_transform(test_df[test_df.columns])

In [69]:
def calculate_score(predictions):
    # revert the standarization for the output
    predictions["target"] = scaler_predict_target.inverse_transform(predictions[["target"]])
    predictions["product_id"] = scaler_predict_product_id.inverse_transform(predictions[["product_id"]])
    
    predictions["product_id"] = predictions["product_id"].astype(int)
    predictions.rename(columns={"target": "prediction"}, inplace=True)
    
    return calculate_error_2(predictions, 201904)

In [70]:
# sort g_s_df in reverse order and for each row, get the file in the ieth position of files
for i, row in enumerate(g_s_df.iterrows()):
    print(i)
    score = calculate_score(pd.read_csv("./output/" + files[i]))
    g_s_df.loc[i, "score"] = score

g_s_df.to_csv("./output/grid_search_lstm8_productos_restored.csv", index=False)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94

In [71]:
g_s_df.sort_index(ascending=False, inplace=True)
g_s_df.reset_index(drop=True, inplace=True)
g_s_df

    n_layers                 n_neurons  n_steps     score
0          1          [25, 25, 25, 25]        1  0.203529
1          1          [25, 25, 25, 25]        2   0.30413
2          1          [25, 25, 25, 25]        3  0.004499
3          1          [25, 25, 25, 25]        4  0.175688
4          1          [25, 25, 25, 25]        5  0.191044
..       ...                       ...      ...       ...
90         2  [1000, 1000, 1000, 1000]        1    0.1185
91         2  [1000, 1000, 1000, 1000]        2   0.30872
92         2  [1000, 1000, 1000, 1000]        3  0.113498
93         2  [1000, 1000, 1000, 1000]        4  0.032992
94         2  [1000, 1000, 1000, 1000]        5  0.161036

[95 rows x 4 columns]

In [72]:
g_s_df.to_csv("./output/grid_search_lstm8_productos_restored.csv", index=False)